body {
    background: lightgray;
    font-family: 'Raleway', sans-serif;
}

#header {
    background-color: deepskyblue;
    text-align: center;
}

#box1 {
    padding-left: 20px;
    padding-right: 20px;
    border-style: double;
    border-width: 3px;
    margin-bottom: 25px;
    background-color: aliceblue;
}

#box2 {
    padding-left: 20px;
    padding-right: 20px;
    border-style: double;
    border-width: 3px;
    margin-top: 25px;
    background-color: aliceblue;
}

#box3 {
    padding-left: 20px;
    padding-right: 20px;
    border-style: double;
    border-width: 3px;
    margin-top: 25px;
    background-color: aliceblue;
}

#pictures {
    margin-left: 150px;
}

table {
    background-color: aliceblue;
}

h1 {
    font-size: 350%;
}

a { color: darkblue;
    text-decoration: none }
a:hover { color: deepskyblue }

table, th, td {
    border: 1px solid black;
    margin-bottom: 25px;
}
